<div
  [class]="'login-body flex min-h-screen  '+(layoutService.config.colorScheme === 'light' ? 'layout-light':'layout-dark')"
>
  <div class="login-image w-6 h-screen hidden md:block" style="max-width: 490px;">
    <img
      [src]="'assets/layout/images/pages/register-'+ (layoutService.config.colorScheme === 'dark' ? 'ondark' : 'onlight') + '.png'"
      alt="atlantis" class=" h-screen w-full">
  </div>
  <div class="w-full" style="background:var(--surface-ground)">
    <div
      class="p-fluid min-h-screen bg-auto md:bg-contain bg-no-repeat text-center w-full flex align-items-center md:align-items-start justify-content-top flex-column bg-auto md:bg-contain bg-no-repeat"
      style=" padding: 10% 10% 10% 10%;background:var(--exception-pages-image)">
      <div class="flex flex-column">
        <div class="flex align-items-center mb-6 logo-container">
          <img
            [src]="'assets/layout/images/logo-'+ (layoutService.config.colorScheme === 'light' ? 'dark' : 'light') + '.png'"
            class="login-logo" style=" width: 45px;"/>
          <img
            [src]="'assets/layout/images/appname-'+ (layoutService.config.colorScheme === 'light' ? 'dark' : 'light') + '.png'"
            class="login-appname ml-3" style="width: 100px;"/>
        </div>
        <div class="form-container text-left" style="   max-width: 320px;
                min-width: 270px;">
          <h4 class="m-0 mb-2">Register</h4>
          <form [formGroup]="form" (ngSubmit)="register()" novalidate autocomplete="off">
            <span class="block text-600 font-medium mb-4">Let's get started</span>
            <span class="p-input-icon-left">
                          <i class="pi pi-user"></i>
                          <input name="name" formControlName="username" type="text" autocomplete="off" pInputText
                                 placeholder="Username" class="form-control block mb-3" style="max-width: 320px;
                          min-width: 270px;">
                      </span>
            <ng-container
              *ngIf="form.controls['username'].invalid && (form.controls['username'].dirty || form.controls['username'].touched)"
              class="alert alert-danger">
              <div class="mb-3">
                <small class="p-error" *ngIf="form.controls['username'].errors?.['required']">
                  Username is required
                </small>
              </div>
            </ng-container>
            <span class="p-input-icon-left">
                          <i class="pi pi-envelope"></i>
                          <input name="email" formControlName="email" type="mail" email autocomplete="off" pInputText
                                 placeholder="E-mail" class="form-control block mb-3" style="   max-width: 320px;
                          min-width: 270px;">
                      </span>
            <ng-container
              *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
              class="alert alert-danger">
              <div class="mb-3">
                <small class="p-error" *ngIf="form.controls['email'].errors?.['required']">
                  E-mail is required
                </small>
                <small class="p-error" *ngIf="form.controls['email'].errors?.['email']">
                  E-mail format is invalid
                </small>
              </div>
            </ng-container>
            <!-- password -->
            <span class="p-input-icon-left">
              <i class="pi pi-key"></i>
<!--                <input name="password" formControlName="password" type="password" autocomplete="off"-->
<!--                       pInputText placeholder="Password" class="form-control block mb-3" style="   max-width: 320px;-->
<!--                    min-width: 270px;">-->
              <p-password name="password" formControlName="password" placeholder="Password" [feedback]=false [toggleMask]="true" class="form-control block mb-3"></p-password>
            </span>
             <div class="mb-3">
             <small class="p-error"
                     *ngIf="(f['password'].dirty || f['password'].touched || submitted) && !requiredValid">
                Password is required
              </small>
              <!-- password validation -->
              <div id="validation-rules" class="mt-3 mb-3" *ngIf="requiredValid">
                <div>
                  <small [ngClass]="{ 'text-green-500': minLengthValid, 'p-error': !minLengthValid }">
                    <i [attr.class]="minLengthValid ? 'pi pi-check' : 'pi pi-flag'"></i>
                    Must be at least 8 characters long
                  </small>
                </div>
                <div>
                  <small [ngClass]="{ 'text-green-500': requiresDigitValid, 'p-error': !requiresDigitValid }">
                    <i [attr.class]="requiresDigitValid ? 'pi pi-check' : 'pi pi-flag'"></i>
                    Must contain at least 1 digit
                  </small>
                </div>
                <div>
                  <small [ngClass]="{ 'text-green-500': requiresUppercaseValid, 'p-error': !requiresUppercaseValid }">
                    <i [attr.class]="requiresUppercaseValid ? 'pi pi-check' : 'pi pi-flag'"></i>
                    Must contain at least 1 uppercase character
                  </small>
                </div>
                <div>
                  <small [ngClass]="{ 'text-green-500': requiresLowercaseValid, 'p-error': !requiresLowercaseValid }">
                    <i [attr.class]="requiresLowercaseValid ? 'pi pi-check' : 'pi pi-flag'"></i>
                    Must contain at least 1 lowercase character
                  </small>
                </div>
                <div>
                  <small
                    [ngClass]="{ 'text-green-500': requiresSpecialCharsValid, 'p-error': !requiresSpecialCharsValid }">
                    <i [attr.class]="requiresSpecialCharsValid ? 'pi pi-check' : 'pi pi-flag'"></i>
                    Must contain at least 1 special character
                  </small>
                </div>
              </div>
            </div>
            <!-- confirm -->
            <span class="p-input-icon-left">
                          <i class="pi pi-key"></i>
<!--                          <input name="confirmPassword" formControlName="confirmPassword" type="password"-->
<!--                                 autocomplete="off" pInputText-->
<!--                                 placeholder="Confirm your password" class="form-control block mb-3" style="   max-width: 320px;-->
<!--                          min-width: 270px;">-->
              <p-password name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password" [feedback]=false [toggleMask]="true" class="form-control block mb-3"></p-password>
            </span>
            <div class="mb-3"
                 *ngIf="(submitted || f['confirmPassword'].dirty || f['password'].touched) && f['confirmPassword'].errors">
              <div *ngIf="f['confirmPassword'].errors?.['required']">
                <small class="p-error">Confirm your password</small>
              </div>
              <div *ngIf="f['confirmPassword'].errors?.['minLength']">
                <small class="p-error">Password must be at least 8 characters long</small>
              </div>
              <div *ngIf="f['confirmPassword'].errors?.['mismatch']">
                <small class="p-error">Passwords do not match</small>
              </div>
            </div>
            <!-- terms and conditions -->
            <div class="mt-2 flex flex-wrap">
              <p-checkbox id="checkbox" name="termsConditions" formControlName="termsConditions" value="val"
                          styleClass="mr-2"
                          [binary]="true"></p-checkbox>
              <label for="checkbox" class="text-900 font-medium mr-2">I have read the</label>
              <a class="text-600 cursor-pointer hover:text-primary cursor-pointer" (click)="dialog.display=true">Terms
                and Conditions</a>
            </div>
          </form>
        </div>
        <!-- action-->
        <div class="button-container mt-4 text-left " style="   max-width: 320px;
                min-width: 270px;">
          <div class="buttons flex align-items-center gap-3">
            <button type="button" pButton pRipple label="Cancel" [routerLink]="['/']"
                    class="block p-button-danger p-button-outlined" style="max-width: 320px;
                    margin-bottom: 32px;"></button>
            <button type="submit" pButton pRipple label="Submit" (click)="register()"
                    [disabled]="!form.valid || isWorking"
                    class="block" style="max-width: 320px;
                    margin-bottom: 32px;"></button>
            <!--            <button type="submit" class="btn btn-block btn-primary" [disabled]="isWorking">-->
            <!--              <i [attr.class]="isWorking ? 'bi-hourglass-split' : 'bi-check2-square'"></i> {{ isWorking ? 'Working on it...' : 'Create account' }}-->
            <!--            </button>-->
          </div>

          <span class="font-medium text-600">Already have an account? <a
            class="font-semibold cursor-pointer text-900 hover:text-primary transition-colors transition-duration-300">Login</a></span>
        </div>

        <!--        <div class="form-group">-->
        <!--          <button type="submit" class="btn btn-block btn-primary" [disabled]="isWorking">-->
        <!--            <i [attr.class]="isWorking ? 'bi-hourglass-split' : 'bi-check2-square'"></i> {{ isWorking ? 'Working on it...' : 'Create account' }}-->
        <!--          </button>-->
        <!--        </div>-->

      </div>

      <div class="login-footer flex align-items-center absolute" style="bottom: 25px;">
        <div class="flex align-items-center login-footer-logo-container pr-4 mr-4 border-right-1 surface-border">
          <img src="../../../../assets/layout/images/logo-gray.png" class="login-footer-logo" style="width: 22px;"/>
          <img src="../../../../assets/layout/images/appname-gray.png" class="login-footer-appname ml-2"
               style="  width: 45px;"/>
        </div>
        <span class="text-sm text-color-secondary mr-3">Copyright 2023</span>
      </div>
    </div>
  </div>
</div>

<!--Terms & Conditions Dialog-->
<p-dialog header="Terms & Conditions" [(visible)]="dialog.display" [modal]="true" showEffect="fade" [closable]="false"
          [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
  <p class="line-height-3 m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="line-height-3 m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="line-height-3 m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <p class="line-height-3 m-0">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="dialog.display=false" label="Ok" class="p-button-outlined"></button>
  </ng-template>
</p-dialog>
